<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Test Web eCommerce">
  <!-- <parameter name="url" value="https://demo.guru99.com/test/link.html"></parameter> -->
  <!-- <parameter name="url" value="https://demo.guru99.com/test/accessing-link.html"></parameter> -->
  <!-- <parameter name="url" value="https://demo.guru99.com/test/block.html"></parameter> -->
  <!-- <parameter name="url" value="https://demo.guru99.com/test/newtours/"></parameter> -->
  <!-- <parameter name="url"
    value="http://www.dhtmlgoodies.com/scripts/drag-drop-custom/demo-drag-drop-3.html"></parameter> -->
  <parameter name="url"
    value="https://demo.guru99.com/V4/index.php"></parameter>


  <!-- <test name="Fitur Radio Button">
    <classes>
      <class name="com.juaracoding.test.Hook" />
      <class name="com.juaracoding.test.RadioTest" />
    </classes>
  </test>

  <test name="Fitur Checkbox">
    <classes>
      <class name="com.juaracoding.test.Hook" />
      <class name="com.juaracoding.test.CheckboxTest" />
    </classes>
  </test> -->

  <!-- <test name="Fitur Selected Box">
    <classes>
      <class name="com.juaracoding.test.Hook" />
      <class name="com.juaracoding.test.SelectedTest" />
    </classes>
  </test> -->

  <test name="Pertemuan 16">
    <classes>
      <class name="com.juaracoding.test.Hook" />
      <!-- <class name="com.juaracoding.test.ByLinkText" /> -->
      <!-- <class name="com.juaracoding.test.ActionTest" /> -->
      <!-- <class name="com.juaracoding.test.QuizDragDropTest" /> -->
      <class name="com.juaracoding.test.SignInTest" />
    </classes>
  </test>


</suite>