<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Test Web eCommerce">
  <parameter name="url" value="https://demo.guru99.com/test/radio.html"></parameter>

  <test name="Fitur Radio Button">
    <classes>
      <class name="com.juaracoding.test.Hook" />
      <class name="com.juaracoding.test.RadioTest" />
    </classes>
  </test>

  <test name="Fitur Checkbox">
    <classes>
      <class name="com.juaracoding.test.Hook" />
      <class name="com.juaracoding.test.CheckboxTest" />
    </classes>
  </test>


</suite>