<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Test Web eCommerce">
  <parameter name="url" value="https://www.saucedemo.com/v1/index.html"></parameter>
  <parameter name="username" value="standard_user"></parameter>
  <parameter name="password" value="secret_sauce"></parameter>

  <test name="Authentication Tests">
    <parameter name="expectedSignIn" value="https://www.saucedemo.com/v1/inventory.html"></parameter>
    <classes>
      <class name="com.juaracoding.test.Hook" />
      <class name="com.juaracoding.test.authentications.SignInTest" />
      <!-- <class name="com.juaracoding.test.inventories.InventoryListTest" /> -->
    </classes>
  </test>
</suite>